.expenses-filter {
  color: white;
}

.expenses-filter__control {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  background-color: #4b4b4b;
  -webkit-backdrop-filter: blur(4px);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.18);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.expenses-filter span {
  font-weight: bold;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.expenses-filter select {
  width: auto;
}
